<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mongosync Insights{% endblock %}</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f9;
            color: #333;
        }
        main {
            padding: 20px;
        }
        {% block styles %}{% endblock %}
    </style>
</head>
<body>
<!--
    <header>
        <h1>{% block header_title %}Mongosync Insights{% endblock %}</h1>
    </header>
-->    
    <main>
        {% block content %}{% endblock %}
    </main>
    
    <footer>
        {% block footer %}{% endblock %}
    </footer>

    {% block scripts %}{% endblock %}
</body>
</html>
